# Gr치ficos

In [2]:
import pandas as pd

## Objetivos:

Representar variables estad칤sticas mediante gr치ficos adecuados seg칰n su clasificaci칩n y realizar an치lisis de la informaci칩n presentada.

*Nota: Este laboratorio est치 dise침ado para desarrollar razonamiento estad칤stico. Evita el uso de herramientas de IA para responder las preguntas a menos que esto sea expl칤citamente sugerido* 游뱄. *En su lugar, enf칩cate en aplicar los conceptos revisados.*

## Contexto actividades 1, 2 y 3:

Una empresa consultora en tecnolog칤a desea realizar un estudio exploratorio sobre el perfil de profesionales del 치rea de Tecnolog칤as de la Informaci칩n (TI). Para ello, recolect칩 datos de 100.000 trabajadores del sector, incluyendo su edad, ocupaci칩n y el lenguaje de programaci칩n que utilizan principalmente en su trabajo diario.

Como analista de datos, te han encargado generar representaciones gr치ficas que permitan visualizar esta informaci칩n de manera clara, elegir los tipos de gr치ficos m치s adecuados seg칰n las variables involucradas e interpretar los resultados para apoyar la toma de decisiones de la empresa.

**Utiliza la siguiente base de datos para responder las actividades 1, 2 y 3.**

Descarga la base de datos **<a href="https://docs.google.com/spreadsheets/d/1-oqPhxbNrN3c4BFQjTn_TgMrD67djWEW/export?format=xlsx
">aqu칤</a>**.

In [6]:
df = pd.read_excel('BDActividad_1_2_3L3.xlsx')
df

,Nombre,Edad,Ocupaci칩n,Direcci칩n,Lenguaje de programaci칩n
0,rPVcXhHW,37,Ingeniero de Redes,"New York, Australia",Python
1,LOPiglaS,32,Programador,"Paris, Australia",Python
2,cKGfSRhy,39,Programador,"London, France",Python
3,akthsxrW,46,Ingeniero de Redes,"New York, Japan",Python
4,GyDdqUfu,32,Desarrollador Web,"Sydney, Japan",JavaScript
...,...,...,...,...,...
99995,TiQuVnNa,32,Cient칤fico de Datos,"Paris, UK",C#
99996,LHUuDXLU,29,Cient칤fico de Datos,"Paris, France",JavaScript
99997,cJYYCToX,37,Desarrollador Web,"Tokyo, Japan",Python
99998,dZUckDFp,32,Desarrollador Web,"New York, UK",Python
99999,qtejPzNu,34,Desarrollador Web,"Sydney, Germany",Python

### Actividad 1

1. Identifica la poblaci칩n y la muestra del estudio.

2. Importa la base de datos y muestra las primeras 5 filas y las 칰ltimas 5 filas del DataFrame.

3. 쮺u치l es la clasificaci칩n de la variable *Ocupaci칩n*? 쯈u칠 tipo de gr치fico es el m치s adecuado para este tipo de variable?

4. Construye una tabla de frecuencias relativas para la variable *Ocupaci칩n* y luego visual칤zala mediante un gr치fico circular.

5. 쮺u치l es la ocupaci칩n m치s com칰n en esta base de datos? 쮸 qu칠 piensas que se debe?

6. En el rol de analista de datos, 쯤u칠 decisiones podr칤as tomar bas치ndote en los resultados obtenidos?

### Actividad 2

Para responder esta actividad considera la base de datos entregada en la celda **Contexto actividades 1, 2 y 3**.

1. 쮺u치l es la clasificaci칩n de la variable *Lenguaje de programaci칩n*? *Puedes volver a consultar la base de datos con funciones como head() o tail()*

2. Crea una tabla que muestre las frecuencias absolutas y relativas de esta variable. Luego, visualiza apropiadamente la distribuci칩n de trabajadores seg칰n el lenguaje de programaci칩n m치s utilizado en su trabajo e interpreta lo observado.

3. 쯈u칠 conclusiones podr칤as sacar si este gr치fico reflejara resultados de una encuesta nacional?

### Actividad 3

Para responder esta actividad considera la base de datos entregada en la celda **Contexto actividades 1, 2 y 3**.

1. 쮺u치l es la clasificaci칩n de la variable *Edad* ? Justifica tu respuesta.

2. Construye una tabla de frecuencias absolutas y relativas (puntuales y acumuladas) para la variable *Edad*, considera 10 intervalos.

3. Interpreta las siguientes frecuencias:

$\hspace{1cm} f_{4}$:

$\hspace{1cm} F_{4}$:

$\hspace{1cm} h_{6}$:

$\hspace{1cm} H_{6}$:

4. Construye un gr치fico apropiado para la variable *Edad* y justifica su elecci칩n. Luego, interpreta la mayor y menor frecuencia, y el rango del  histograma.

5. 쯈u칠 conclusiones puedes sacar del gr치fico?

6. 쯈u칠 decisiones podr칤as tomar si estuvieras reclutando talento para un proyecto de largo plazo?

## Actividad 4

La siguiente base de datos contiene informaci칩n correspondiente al a침o 2017 para todos los pa칤ses del mundo. Incluye el n칰mero de habitantes, la cantidad de usuarios de internet y el continente al que pertenece cada pa칤s.

Para responder las siguientes preguntas, descarga la base de datos **<a href="https://drive.google.com/uc?export=download&id=1s5Cm1m6xnZhAEqLVuwRba-RrPPX4ueOW
">aqu칤</a>**.

1. Identifique la poblaci칩n y la muestra en estudio.

La poblaci칩n son todos los pa칤ses del mundo.
La muestra

2. Muestra las primeras 5 filas y las 칰ltimas 5 filas del DataFrame.

In [7]:
df = pd.read_csv('BDActividad_4.csv')
df

,PA칈S,POBLACI칍N (a침o 2017),USUARIOS INTERNET(marzo 2017),CONTINENTE
0,Niue,1311,1100,Ocean칤a
1,Tokelau,1384,800,Ocean칤a
2,Norfolk,2169,700,Ocean칤a
3,Islas Malvinas,2932,2862,Am칠rica
4,Santa Helena (UK),3687,1217,츼frica
...,...,...,...,...
188,Brasil,204259812,117653652,Am칠rica
189,Indonesia,248645008,55000000,Asia
190,Estados Unidos,321362789,280742532,Am칠rica
191,India,1205073612,137000000,Asia
192,China,1343239923,538000000,Asia

3. Identifica y clasifica las variables de la base de datos.

4. Crea una tabla de frecuencias absolutas y relativas que muestre la distribuci칩n de pa칤ses por continente. Luego, construye un gr치fico circular con las frecuencias relativas y uno de barras con las frecuencias absolutas de la tabla.

5. 쯈u칠 aspectos le llaman la atenci칩n en estos gr치ficos? Describe por lo menos 3 aspectos.

6. 쮺u치les son los 10 pa칤ses con mayor poblaci칩n? Construye un gr치fico de barras considerando estos pa칤ses y su cantidad de habitantes en porcentaje del total de la poblaci칩n mundial. Comenta lo observado.

7. 쮼n qu칠 continente el porcentaje de personas que usa internet, respecto al total de su poblaci칩n, es el m치s alto? 쯏 en cu치l es el m치s bajo? Conversa con tus compa침eros, planifiquen una estrategia, y respondan las preguntas justificando su respuesta.

8. Construye un gr치fico apropiado para la tabla creada en el inciso anterior.

9. Calcula el porcentaje de personas que usa internet en cada pa칤s y clasif칤calos en 9 intervalos. Luego, construye un histograma que muestre la distribuci칩n de pa칤ses seg칰n ese porcentaje. 쯈u칠 observas?