# Medidas de Dispersi칩n

## Objetivos:

Aplicar medidas de dispersi칩n (rango, desviaci칩n est치ndar y coeficiente de variaci칩n) en el an치lisis de bases de datos, utilizando Python como herramienta de apoyo.

*Nota: Este laboratorio est치 dise침ado para desarrollar razonamiento estad칤stico. Evita el uso de herramientas de IA para responder las preguntas a menos que esto sea expl칤citamente sugerido* 游뱄. *En su lugar, enf칩cate en aplicar los conceptos revisados.*

## Actividad 1

El gobierno de la ciudad de San Francisco ha publicado los sueldos base de sus funcionarios p칰blicos entre los a침os 2011 y 2014. Esta base incluye trabajadores con distintos cargos y niveles de responsabilidad.
Como analista de datos, tu tarea es describir y cuantificar la variabilidad de los sueldos base usando medidas estad칤sticas de dispersi칩n.

**Utiliza la siguiente base de datos para responder las actividades 1, 2 y 3.**

Descarga la base de datos **<a href="https://drive.google.com/uc?export=download&id=1Ry63iApbDJaY_C1HfR5s-kIX5ldWcGW8
">aqu칤</a>**.

*Observaci칩n: Considera que la variable Pago base est치 expresada en d칩lares estadounidenses (USD) y corresponde a ingresos anuales.*

1. Identifica la poblaci칩n y muestra del estudio.

In [2]:
import pandas as pd
df_1 = pd.read_csv('Actividad_1_2_3.csv')
df_1

,Id,Nombre del empleado,T칤tulo profesional,Pago base,A침o
0,28822,SUSAN KYAUK,Supervisor De Cuentas De Pacientes,55795,2011
1,29857,JOYCE WONG,Auxiliar De N칩mina,20860,2011
2,30163,OSCAR JIMENEZ,Supervisor De Recreaci칩n,116820,2011
3,30871,FATIMA AZAM,Portero,26265,2011
4,31788,PAULINE PEREA,Custodio,36850,2011
...,...,...,...,...,...
2265,148382,Ariana N Campos,Becario De Servicio P칰blico,55144,2014
2266,148383,Gustavo Serina,"Gerente De Comercio De La Junta, Grupo 2, M = ...",112161,2014
2267,148384,Arturo Durazo,Trabajador De Salud 3,117360,2014
2268,148385,Patrick J O'Donnell,L칤der De Recreaci칩n,90979,2014
2269,148386,Phoebe E Barkan,L칤der De Recreaci칩n,46979,2014

In [3]:
muestra_1 = df_1.shape[0]
muestra_1

2270

La poblaci칩n del estudio corresponde a los funcionarios p칰blicos de la ciudad de San Francisco entre los a침os 2011 y 2014.

La muestra del estudio corresponde a los 2.270 funcionarios p칰blicos de la ciudad de San Francisco entre los a침os 2011 y 2014.

2. Muestra las tres primeras y tres 칰ltimas filas de la base de datos.

In [4]:
#Primeras 3 filas
df_1.head(3)

,Id,Nombre del empleado,T칤tulo profesional,Pago base,A침o
0,28822,SUSAN KYAUK,Supervisor De Cuentas De Pacientes,55795,2011
1,29857,JOYCE WONG,Auxiliar De N칩mina,20860,2011
2,30163,OSCAR JIMENEZ,Supervisor De Recreaci칩n,116820,2011

In [5]:
#칔ltimas tres filas
df_1.tail(3)

          Id  Nombre del empleado     T칤tulo profesional  Pago base   A침o
2267  148384        Arturo Durazo  Trabajador De Salud 3     117360  2014
2268  148385  Patrick J O'Donnell    L칤der De Recreaci칩n      90979  2014
2269  148386      Phoebe E Barkan    L칤der De Recreaci칩n      46979  2014

3. Calcula el rango de la variable *Pago base*, 쯘ste valor representa la realidad de todos los trabajadores?

In [6]:
#Calculamos el m치ximo y m칤nimo del sueldo base
maximo_pago = df_1['Pago base'].max()
minimo_pago = df_1['Pago base'].min()

#Calculamos el rango restando el m치ximo con el m칤nimo
rango = maximo_pago - minimo_pago
print(f'Rango: {rango} d칩lares.')

Rango: 272497 d칩lares.

El rango del Pago base es 272.497 d칩lares, lo que representa la diferencia entre el sueldo base m치ximo y m칤nimo de la base de datos.

Este valor muestra que existe una alta dispersi칩n de sueldos, lo que podr칤a estar asociado a los cargos de los trabajadores o antig칲edad laboral. Sin embargo, al ser una medida que solo considera los valores extremos, no permite saber c칩mo se distribuyen los sueldos del resto de los trabajadores, por lo que conviene complementarla con otras medidas de dispersi칩n.

4. Calcula la media, mediana, desviaci칩n est치ndar y coeficiente de variaci칩n del sueldo base. 쯃a dispersi칩n es alta o baja respecto al promedio? 쯈u칠 medida (media o mediana) consideras m치s representativa para describir el sueldo t칤pico? Justifica tu respuesta.

In [7]:
#C치lculo de media y mediana
media_pago = df_1['Pago base'].mean()
mediana_pago = df_1['Pago base'].median()

#Desviaci칩n est치ndar
desviacion_pago = df_1['Pago base'].std()

#Coeficiente de variaci칩n
cv_pago = desviacion_pago / media_pago * 100

print(f'Media: {media_pago:.0f} d칩lares.\nMediana: {mediana_pago}\nDesviaci칩n est치ndar: {desviacion_pago:.0f} d칩lares\nCV: {cv_pago:.1f}%')

Media: 77087 d칩lares.
Mediana: 74711.5
Desviaci칩n est치ndar: 31122 d칩lares
CV: 40.4%

La desviaci칩n est치ndar es de 31.122 d칩lares y la media es de 77.087 d칩lares, por lo que el coeficiente de variaci칩n es aproximadamente 40,4%, esto significa que la dispersi칩n es alta con respecto promedio.

Aunque la mediana (74.711,5 d칩lares) es cercana a la media, la elevada dispersi칩n sugiere que existen diferencias importantes entre los sueldos de los trabajadores. Por tanto, la mediana podr칤a representa mejor el sueldo t칤pico que la media en este conjunto de datos, ya que no se ve afectada por los valores extremos.

## Actividad 2

Un equipo de an치lisis de datos quiere comparar la variabilidad de los sueldos base entre distintos a침os para evaluar si ha habido m치s o menos estabilidad en las remuneraciones del empleo p칰blico.

Trabajar치s con la base de datos que ha publicado el gobierno de San Francisco con informaci칩n de los sueldos base de sus funcionarios p칰blicos entre los a침os 2011 y 2014. Esta base incluye trabajadores con distintos cargos y niveles de responsabilidad.

**Utiliza la siguiente base de datos para responder las actividades 1, 2 y 3.**

Descarga la base de datos **<a href="https://drive.google.com/uc?export=download&id=1Ry63iApbDJaY_C1HfR5s-kIX5ldWcGW8
">aqu칤</a>**.

*Observaci칩n: Considera que la variable Pago base est치 expresada en d칩lares estadounidenses (USD) y corresponde a ingresos anuales.*

1. Importa la base de datos y crea una tabla que agrupe los valores de *Pago base*. Luego, calcula la media, la desviaci칩n est치ndar y el coeficiente de variaci칩n por a침o.

In [8]:
import pandas as pd
df_2 = pd.read_csv('Actividad_1_2_3.csv')

In [9]:
#Tabla agrupada por a침o con el c치lculo de la media y desviaci칩n est치ndar sobre el sueldo base
tabla_1 = df_2.groupby('A침o')['Pago base'].agg(['mean', 'std'])

#Agregamos una nueva columna a la tabla con el CV
tabla_1['CV %'] = (tabla_1['std']/tabla_1['mean']) * 100

round(tabla_1,1)

         mean      std  CV %
A침o
2011  79206.6  26326.9  33.2
2012  74188.2  33407.9  45.0
2013  76963.0  32361.8  42.0
2014  89173.0  42143.0  47.3

2. 쮼n cu치l a침o se observa mayor dispersi칩n absoluta en los sueldos base? Justifica usando la desviaci칩n est치ndar.

El a침o 2014 muestra la mayor dispersi칩n absoluta en los sueldos base, ya que tiene la desviaci칩n est치ndar m치s alta: 42.143 d칩lares.
Esto indica que, en promedio, los sueldos de ese a침o se alejan m치s del promedio que en los otros a침os analizados.

3. 쮺u치l a침o tiene mayor heterogeneidad? Justifica usando el coeficiente de variaci칩n.

Tambi칠n el a침o 2014 tiene la mayor heterogeneidad, ya que presenta el coeficiente de variaci칩n m치s alto (47,3%).
Esto indica que los sueldos de ese a침o var칤an m치s respecto a su promedio.

4. 쯈u칠 ventajas tiene el coeficiente de variaci칩n frente a la desviaci칩n est치ndar al realizar comparaciones?

El coeficiente de variaci칩n tiene la ventaja de que permite comparar la dispersi칩n relativa entre a침os con promedios distintos, ya que expresa la variabilidad como un porcentaje respecto a la media.

En cambio, la desviaci칩n est치ndar muestra solo la variaci칩n en valores absolutos, lo que puede ser enga침oso si los promedios son muy diferentes. Por eso, el coeficiente de variaci칩n es m치s 칰til para comparar grupos que no tienen el mismo promedio.

5. 쯈u칠 interpretaci칩n puedes hacer al comparar los datos del a침o 2011 con los del 2014?

Considerando la desviaci칩n est치ndar y el coeficiente de variaci칩n, podemos concluir que los sueldos del a침o 2011 tienen una menor dispersi칩n en comparaci칩n con los del 2014. Esto indica que los sueldos el 2011 fueron m치s similares entre los trabajadores y con menores diferencias respecto al promedio de sueldos.

## Actividad 3

Un equipo de an치lisis de datos busca estudiar qu칠 tan parecidos o distintos son los sueldos base entre trabajadores que ejercen el mismo cargo. Para ello, se analizar치n los cinco t칤tulos profesionales m치s frecuentes en la base de datos publicada por el gobierno de San Francisco, la cual contiene informaci칩n de los sueldos base de funcionarios p칰blicos entre los a침os 2011 y 2014. Esta base incluye trabajadores con distintos niveles de responsabilidad.

Como analista, tu tarea es calcular y comparar medidas estad칤sticas de dispersi칩n dentro de cada cargo, para evaluar la variabilidad de las remuneraciones en estos grupos.

**Utiliza la siguiente base de datos para responder las actividades 1, 2 y 3.**

Descarga la base de datos **<a href="https://drive.google.com/uc?export=download&id=1Ry63iApbDJaY_C1HfR5s-kIX5ldWcGW8
">aqu칤</a>**.

*Observaci칩n: Considera que la variable Pago base est치 expresada en d칩lares estadounidenses (USD) y corresponde a ingresos anuales.*

In [10]:
import pandas as pd
df_3 = pd.read_csv('Actividad_1_2_3.csv')

1. Crea una tabla de frecuencias absolutas que muestre los cuatro cargos  m치s frecuentes de San Francisco, usando la variable *T칤tulo profesional*.

In [11]:
#Calculamos la frecuencia absoluta
cuenta_titulo = df_3.groupby('T칤tulo profesional').size()

#Creamos la tabla
tabla_2 = pd.DataFrame({
    'Frecuencia absoluta': cuenta_titulo
})

#Ordenamos la tabla de forma descendente y mostramos los 4 de mayor frecuencia
tabla_2.sort_values('Frecuencia absoluta', ascending = False).head(4)

                                               Frecuencia absoluta
T칤tulo profesional
Enfermera Especial                                             286
L칤der De Recreaci칩n                                            234
Auxiliar De Servicio P칰blico - Obras P칰blicas                  134
Becario De Servicio P칰blico                                    123

2. 쯈u칠 observas respecto a los cargos m치s comunes? 쯊e sorprende alguno?

Los cargos m치s comunes est치n relacionados con salud, recreaci칩n y servicios p칰blicos. Estos cargos reflejan las funciones esenciales del municipio con alta demanda de personal. Llama la atenci칩n la alta frecuencia del cargo "L칤der de Recreaci칩n", ya que no es com칰nmente percibido como un rol prioritario en la gesti칩n municipal.

3. De acuerdo con la tabla realizada en el inciso anterior, crea un DataFrame que contenga solo los cuatro cargos con mayor presencia en la ciudad de San Francisco, para esto debes filtrar tu DataFrame original. Luego, muestra las cinco primeras filas y las cinco 칰ltimas filas.

$\hspace{1cm}$ *Para filtrar r치pidamente puedes almacenar los cargos frecuentes en una variable y luego utilizar la funci칩n isin.*

In [12]:
#Creamos una variable con los cuatro cargos con mayor presencia
cargos_frecuentes = ['Enfermera Especial', 'L칤der De Recreaci칩n',
                     'Auxiliar De Servicio P칰blico - Obras P칰blicas',
                     'Becario De Servicio P칰blico']

#Creamos un nuevo DF con la informaci칩n de los cuatro cargos con mayor frecuencia
#Para esto filtramos el DF original con la funci칩n isin()
df3_filtrado = df_3[df_3['T칤tulo profesional'].isin(cargos_frecuentes)]

#Primeras cinco filas
df3_filtrado.head()

       Id Nombre del empleado   T칤tulo profesional  Pago base   A침o
18  33976      WILLIE DICKENS  L칤der De Recreaci칩n     111932  2011
20  34032    DONALD MCCARRELL   Enfermera Especial      58431  2011
26  34127      LISA MCCAFFREY   Enfermera Especial      96886  2011
29  34175    MARIANNE PALISOC   Enfermera Especial      51394  2011
34  34214     SAMANTHA OBRIEN   Enfermera Especial      48792  2011

In [14]:
#칔ltimas cinco filas
df3_filtrado.tail()

,Id,Nombre del empleado,T칤tulo profesional,Pago base,A침o
2263,148377,Kelly K Duong,L칤der De Recreaci칩n,57630,2014
2264,148381,Andrew D Nayman,L칤der De Recreaci칩n,101063,2014
2265,148382,Ariana N Campos,Becario De Servicio P칰blico,55144,2014
2268,148385,Patrick J O'Donnell,L칤der De Recreaci칩n,90979,2014
2269,148386,Phoebe E Barkan,L칤der De Recreaci칩n,46979,2014

4. Utiliza el DataFrame filtrado del inciso anterior para crear una tabla con el c치lculo de la media, mediana, desviaci칩n est치ndar y coeficiente de variaci칩n del sueldo base (*Pago base*).

In [15]:
#Agrupamos el DF por T칤tulo profesional y calculamos la media, mediana y
#desviaci칩n est치ndar del sueldo base
tabla_3 = df3_filtrado.groupby('T칤tulo profesional')['Pago base'].agg(['mean', 'median', 'std'])

#Agregamos una nueva columna con el c치lculo del CV
tabla_3['CV (%)'] = (tabla_3['std'] / tabla_3['mean']) * 100

round(tabla_3, 1)

,mean,median,std,CV (%)
T칤tulo profesional,,,,
Auxiliar De Servicio P칰blico - Obras P칰blicas,39605.3,39986.5,11247.7,28.4
Becario De Servicio P칰blico,41071.3,40618.0,11595.8,28.2
Enfermera Especial,82625.1,84668.0,23877.4,28.9
L칤der De Recreaci칩n,78737.0,79046.0,22720.6,28.9

5. 쮺u치l de los cargos tiene sueldos m치s homog칠neos? Justifica.

El cargo con sueldos m치s homog칠neos es el de "Becario De Servicio P칰blico", ya que tiene un coeficiente de variaci칩n m치s bajo, 28,2%.

Sin embargo, se puede observar que la diferencia con los otros cargos presentes en la tabla es baja, ya que los coeficientes de variaci칩n son similares entre si. Esto indica que la dispersi칩n de los sueldos es similar en los distintos puestos.