# Medidas de Tendencia Central y Percentiles

## Objetivo:

Aplicar las medidas de tendencia central (media, mediana y moda) y medidas de posici√≥n no central (percentiles) en el an√°lisis de datos, utilizando Python como herramienta de apoyo.

*Nota: Este laboratorio est√° dise√±ado para desarrollar razonamiento estad√≠stico. Evita el uso de herramientas de IA para responder las preguntas a menos que esto sea expl√≠citamente sugerido* ü§ñ. *En su lugar, enf√≥cate en aplicar los conceptos revisados.*

## Actividad 1

La siguiente base de datos posee los registros de todas las calificaciones obtenidas por los alumnos del segundo semestre del 2019, jornada diurna en la asignatura de √Ålgebra.

Para responder las siguientes preguntas, descarga la base de datos **<a href="https://drive.google.com/uc?export=download&id=10tm66MrnBpkR1_aY10yxEAudwirzDcJK
">aqu√≠</a>**.

1. ¬øCu√°l es la poblaci√≥n en estudio?

La poblaci√≥n corresponde a los alumnos de √°lgebra de segundo semestre a√±o 2019, jornada diurna.

2. ¬øCu√°l es la muestra en estudio?

In [2]:
import pandas as pd
df_4 = pd.read_csv('Actividad_1.csv')

In [3]:
muestra_4 = df_4.shape[0]
muestra_4

516

La muestra corresponde a 516 alumnos de √°lgebra de segundo semestre a√±o 2019, jornada diurna.

3.  Identifique y clasifique las variables involucradas en el estudio.

In [4]:
df_4.head()

,ID Alumno,Taller 1,Taller 2,Taller 3,Actividad en l√≠nea 1,Actividad en l√≠nea 2,Actividad en l√≠nea 3,Prueba 1,Prueba 2,Prueba 3,Nota Presentaci√≥n,Nota Examen,Nota Final
0,160001322,5.5,7.0,5.6,6.4,6.2,4.6,6.2,5.5,4.3,5.5,6.2,5.8
1,160002042,7.0,7.0,7.0,3.8,2.3,2.3,5.0,4.9,4.4,4.8,5.2,5.0
2,160002581,6.5,6.2,4.5,5.4,1.8,2.4,6.2,5.1,4.0,5.0,4.7,4.9
3,160001794,7.0,7.0,6.5,7.0,5.3,2.6,6.2,7.0,6.3,6.4,6.6,6.5
4,160003667,6.0,4.3,6.0,4.8,4.4,3.0,5.3,4.7,4.2,4.7,5.8,5.1

Las variables involucradas en el estudio son: talleres, actividades en l√≠nea, pruebas, nota de presentaci√≥n, nota de examen y nota final.

La clasificaci√≥n de todas las variables es: Cuantitativa continua.

4. Calcule e interprete las medidas de tendencia central de las notas del examen.

In [5]:
media_examen = df_4['Nota Examen'].mean()
mediana_examen = df_4['Nota Examen'].median()
moda_examen = df_4['Nota Examen'].mode()

print(f'Promedio: {media_examen:.1f}\nMediana: {mediana_examen}\nModa: {moda_examen[0]}')

Promedio: 5.1
Mediana: 5.2
Moda: 5.3

* Media: El promedio de las notas del examen el a√±o 2019 fue de 5,1 en la asignatura de √°lgebra, jornada diurna.
* Mediana: El 50% de las notas del examen el a√±o 2019 fue de a lo m√°s 5,2 en la asignatura de √°lgebra, jornada diurna.
* Moda: La nota m√°s frecuente en el examen de √°lgebra del a√±o 2019, jornada diurna, fue de 5,3.

5. ¬øEntre qu√© valores se encuentra el 60% de las notas m√°s bajas en la prueba 1?

In [6]:
#Valor m√°ximo del 60% m√°s bajo
p_60 = df_4['Prueba 1'].quantile(0.6)

#Valor m√≠nimo del 60% m√°s bajo
minimo_prueba1 = df_4['Prueba 1'].min()

print(f'Percentil 60: {p_60}\nM√≠nimo: {minimo_prueba1}')

Percentil 60: 5.7
M√≠nimo: 1.6

El 60% de las notas m√°s bajas en la prueba 1 est√° entre 1,6 y 5,7.

6.  La instituci√≥n de educaci√≥n crear√° cursos de reforzamiento para todos los estudiantes cuyas calificaciones en la Prueba 2, est√©n en el 25% m√°s bajo. ¬øCu√°l es la nota m√°s alta dentro de este grupo que va a reforzamiento?

In [7]:
p25_prueba2 = df_4['Prueba 2'].quantile(0.25)
print(p25_prueba2)

4.4

La nota m√°s alta del grupo es 4,4.

7. ¬øCu√°l es la nota m√°s baja entre el 30% de mejores notas del examen?

In [8]:
p70_ex = df_4['Nota Examen'].quantile(0.7)
print(p70_ex)

5.7

La nota m√°s baja, entre el 30% de mejores notas del examen, es un 5,7.

8. Si se desea reevaluar al 10% m√°s bajo en el examen, ¬øcu√°l es rango de notas que se debe considerar?

In [9]:
#Valor m√°ximo del 10% m√°s bajo
p10_ex = df_4['Nota Examen'].quantile(0.1)

#Valor m√≠nimo del 10% m√°s bajo
minimo_ex = df_4['Nota Examen'].min()

print(f'Percentil 10: {p10_ex}\nM√≠nimo: {minimo_ex}')

Percentil 10: 3.5
M√≠nimo: 1.3

Se debe considerar a los alumnos que obtuvieron entre 1,3 y 3,5 en el examen.

9. Si la instituci√≥n va a premiar al 5% de las mejores notas finales, ¬øcu√°l es la nota m√°s baja registrada por ese grupo?

In [10]:
p95_final = df_4['Nota Final'].quantile(0.95)
print(p95_final)

6.5

La nota m√°s baja registrada por ese grupo es un 6,5.

## Actividad 2

Imagina que trabajas como analista de datos en una consultora de orientaci√≥n vocacional que asesora a estudiantes de ense√±anza media sobre qu√© carrera elegir. Recibes una base de datos con informaci√≥n de carreras t√©cnicas y profesionales de distintas instituciones chilenas de los a√±os 2024 y 2025. Tu misi√≥n es analizar los ingresos y empleabilidad de los titulados, y entregar conclusiones claras que los ayuden a tomar decisiones.

**Utiliza la siguiente base de datos para responder las actividades 2, 3 y 4.**

Descarga la base de datos **<a href="https://docs.google.com/spreadsheets/d/1O7lb2OqNCSnqJaswSNqmD4HuI0BWfcsP/export?format=xlsx
">aqu√≠</a>**.

1. Identifica la poblaci√≥n y muestra del estudio.

In [12]:
import pandas as pd
df_1 = pd.read_excel('Actividad_2_3_4.xlsx')

In [13]:
muestra_1 = df_1.shape[0]
muestra_1

1163

La poblaci√≥n corresponde a carreras dictadas en Chile durante los a√±os 2024 y 2025.

La muestra corresponde a 1.163 carreras dictadas en Chile durante los a√±os 2024 y 2025.

2. Clasifica las variables presentes en la base de datos.

In [14]:
#Mostraremos las primeras cinco filas del DF
df_1.head()

,C√≥digo,Tipo de instituci√≥n,Acreditaci√≥n instituci√≥n (a√±os),√Årea,Nombre carrera gen√©rica,Duraci√≥n Real (semestres),Empleabilidad 1er a√±o (%),Ingreso al 4¬∞ a√±o (pesos)
0,456,Centros de Formaci√≥n T√©cnica,5,Tecnolog√≠a,T√©cnico en Electricidad y Electricidad Industrial,6.537975,76.616915,1150000
1,456,Centros de Formaci√≥n T√©cnica,5,Salud,T√©cnico en Enfermer√≠a,6.280899,62.500000,750000
2,456,Centros de Formaci√≥n T√©cnica,5,Ciencias B√°sicas,T√©cnico en Geominer√≠a,7.914286,61.627907,1150000
3,456,Centros de Formaci√≥n T√©cnica,5,Tecnolog√≠a,T√©cnico en Mantenimiento Industrial,6.927461,72.000000,1150000
4,456,Centros de Formaci√≥n T√©cnica,5,Tecnolog√≠a,T√©cnico en Mec√°nica Industrial,6.659794,82.122905,1150000

La clasificaci√≥n de las variables es:

* Tipo de instituci√≥n: cualitativa nominal.
* Acreditaci√≥n instituci√≥n (a√±os): cuantitativa discreta.
* √Årea: cualitativa nominal.
* Nombre carrera gen√©rica: cualitativa nominal.
* Duraci√≥n Real (semestres): cuantitativa continua.
* Empleabilidad al 1er a√±o (%): cuantitativa continua.
* Ingreso al 4to a√±o (pesos): cuantitativa continua.

3. ¬øCu√°l es el ingreso promedio de los titulados? ¬øY la mediana? ¬øQu√© puedes concluir de la diferencia entre ambos?

In [15]:
promedio_todos = df_1['Ingreso al 4¬∞ a√±o (pesos)'].mean()
mediana_todos = df_1['Ingreso al 4¬∞ a√±o (pesos)'].median()

print(f'Promedio: ${promedio_todos:.0f}\nMediana: ${mediana_todos}.')

Promedio: $1307481
Mediana: $1150000.0.

El ingreso promedio al 4to a√±o de egreso de todos los titulados es de \$1.307.481. La mediana es de \$1.150.000, esto indica que el 50% de los titulados tiene ese ingreso o menos al 4to a√±o de egreso.

La diferencia entre la media y la mediana indica que hay titulados con ingresos mucho m√°s altos que el promedio del grupo, lo cual eleva el promedio. Esto muestra que la media es una medida de tendencia que se ve afectada por valores extremos altos (o bajos) por lo que no siempre es un buen representante de todos los datos.

4. ¬øCu√°l es la moda de los ingresos? Interpr√©tala.

In [16]:
moda_ingreso = df_1['Ingreso al 4¬∞ a√±o (pesos)'].mode()
moda_ingreso

0    1050000
Name: Ingreso al 4¬∞ a√±o (pesos), dtype: int64

El ingreso m√°s frecuente al 4to a√±o de egreso es \$ 1.050.000.

5. Calcula los percentiles 25, 50 y 75 del ingreso de los titulados e interpr√©talos.

In [17]:
p_25_ingresos = df_1['Ingreso al 4¬∞ a√±o (pesos)'].quantile(0.25)
p_50_ingresos = df_1['Ingreso al 4¬∞ a√±o (pesos)'].quantile(0.5)
p_75_ingresos = df_1['Ingreso al 4¬∞ a√±o (pesos)'].quantile(0.75)
print(f'Percentil 25: {p_25_ingresos}\nPercentil 50: {p_50_ingresos}\nPercentil 75: {p_75_ingresos}')

Percentil 25: 950000.0
Percentil 50: 1150000.0
Percentil 75: 1550000.0

* El 25% de los titulados tiene un ingreso al 4to a√±o de egreso de a lo m√°s \$950.000.

* El 50% de los titulados tiene un ingreso al 4to a√±o de egreso de a lo m√°s \$1.150.000.

* El 75% de los titulados tiene un ingreso al 4to a√±o de egreso de a lo m√°s \$1.550.000.

6. Utiliza la funci√≥n *describe()* de Pandas para validar tus resultados.

La funci√≥n *describe()* de Pandas, permite calcular los tres percentiles pedidos en el inciso anterior de todas las variables cuantitativas de la base de datos. Tambi√©n permite realizar c√°lculos de otras medidas estad√≠sticas como el promedio, el m√≠nimo, m√°ximo, entre otras.

In [18]:
df_1.describe().astype(int)

,C√≥digo,Acreditaci√≥n instituci√≥n (a√±os),Empleabilidad 1er a√±o (%),Ingreso al 4¬∞ a√±o (pesos)
count,1163,1163,1163,1163
mean,102,5,67,1307480
std,103,1,18,506349
min,1,0,10,550000
25%,50,5,54,950000
50%,84,5,69,1150000
75%,111,6,81,1550000
max,701,7,100,3000000

7. Considera que tres personas desean estudiar T√©cnico en enfermer√≠a, pero cada una valora cosas distintas:
* Sof√≠a busca maximizar su ingreso futuro.
* Diego prioriza encontrar trabajo r√°pidamente.
* Camila quiere un equilibrio entre ambas.

$\hspace{1cm}$Considerando la media como medida representativa, ¬øqu√© tipo de instituci√≥n recomendar√≠as a cada uno y por qu√©?

In [19]:
#Vamos a filtrar por T√©cnico en Enfermer√≠a
tecnico_enfermeria = df_1[df_1['Nombre carrera gen√©rica'] == 'T√©cnico en Enfermer√≠a']

#Agruparemos por tipo de instituci√≥n y calcularemos el promedio de la
#empleabilidad y del ingreso
tabla_1 = tecnico_enfermeria.groupby('Tipo de instituci√≥n')[
    ['Empleabilidad 1er a√±o (%)', 'Ingreso al 4¬∞ a√±o (pesos)']].mean()

round(tabla_1,1)

,Empleabilidad 1er a√±o (%),Ingreso al 4¬∞ a√±o (pesos)
Tipo de instituci√≥n,,
Centros de Formaci√≥n T√©cnica,64.0,740909.1
Insitutos Profesionales,66.8,750000.0
Universidades,65.0,790000.0

Sof√≠a, que busca maximizar su ingreso futuro, deber√≠a optar por estudiar T√©cnico en Enfermer√≠a en una universidad, ya que es el tipo de instituci√≥n que reporta el ingreso promedio m√°s alto al 4¬∞ a√±o ($790.000).

Diego, que prioriza encontrar trabajo r√°pidamente, deber√≠a considerar un instituto profesional (IP), que muestra la mayor empleabilidad al 1er a√±o (66,8%), ligeramente superior al resto.

Camila, que busca un equilibrio entre ingreso y empleabilidad, podr√≠a elegir una universidad ya que, el sueldo es superior a las otras instituciones (cerca de un 5\% superior a un IP) y su empleabilidad es ligeramente menor a un IP (aproximadamente un 2,7\%), logrando un buen balance entre ambos factores.

## Actividad 3

Un grupo de estudiantes est√° evaluando si el nivel de acreditaci√≥n de una instituci√≥n podr√≠a impactar sus resultados laborales. Para responder esta pregunta, realiza el siguiente an√°lisis:

**Utiliza la siguiente base de datos para responder las actividades 2, 3 y 4.**

Descarga la base de datos **<a href="https://docs.google.com/spreadsheets/d/1O7lb2OqNCSnqJaswSNqmD4HuI0BWfcsP/export?format=xlsx
">aqu√≠</a>**.

1. Agrupa los datos por a√±os de acreditaci√≥n y calcula la media y la mediana del ingreso al 4to a√±o de cada grupo.

In [20]:
import pandas as pd
df_2 = pd.read_excel('Actividad_2_3_4.xlsx')
df_2.head(3)

,C√≥digo,Tipo de instituci√≥n,Acreditaci√≥n instituci√≥n (a√±os),√Årea,Nombre carrera gen√©rica,Duraci√≥n Real (semestres),Empleabilidad 1er a√±o (%),Ingreso al 4¬∞ a√±o (pesos)
0,456,Centros de Formaci√≥n T√©cnica,5,Tecnolog√≠a,T√©cnico en Electricidad y Electricidad Industrial,6.537975,76.616915,1150000
1,456,Centros de Formaci√≥n T√©cnica,5,Salud,T√©cnico en Enfermer√≠a,6.280899,62.500000,750000
2,456,Centros de Formaci√≥n T√©cnica,5,Ciencias B√°sicas,T√©cnico en Geominer√≠a,7.914286,61.627907,1150000

In [ ]:
tabla_2 = df_2.groupby('Acreditaci√≥n instituci√≥n (a√±os)')[
    ['Empleabilidad 1er a√±o (%)', 'Ingreso al 4¬∞ a√±o (pesos)']].agg(['mean','median'])

round(tabla_2,1)

                                Empleabilidad 1er a√±o (%)         \
                                                     mean median
Acreditaci√≥n instituci√≥n (a√±os)
0                                                    63.9   69.4
3                                                    69.3   69.0
4                                                    63.3   65.0
5                                                    63.6   65.6
6                                                    71.3   74.0
7                                                    71.7   74.3

                                Ingreso al 4¬∞ a√±o (pesos)
                                                     mean     median
Acreditaci√≥n instituci√≥n (a√±os)
0                                               1024666.7   950000.0
3                                               1313043.5  1150000.0
4                                               1153020.1  1050000.0
5                                               1192729.6  1050000.0
6                                               1541260.2  1450000.0
7                                               1421043.2  1250000.0

2. ¬øExiste una relaci√≥n aparente entre la cantidad de a√±os de acreditaci√≥n y el ingreso promedio? ¬øQu√© patr√≥n observas?

Se observa que en general, a medida que aumentan los a√±os de acreditaci√≥n tambi√©n aumenta el ingreso promedio, desde \$1.024.667 con 0 a√±os de acreditaci√≥n hasta \$1.541.260 con 6 a√±os. Esto muestra un patr√≥n de mejora en los ingresos asociado a instituciones con m√°s a√±os de acreditaci√≥n.

3. ¬øSe observa una tendencia similar al analizar la empleabilidad al primer a√±o?

Al analizar la relaci√≥n entre la media de la empleabilidad al 1er a√±o y la acreditaci√≥n, tambi√©n se observa una tendencia al alza, pasando de 63,9% en instituciones sin acreditaci√≥n hasta 71,7% en instituciones con 7 a√±os.

4. Comparando las variables ingreso y empleabilidad, analiza c√≥mo var√≠an la media y la mediana en cada caso. ¬øQu√© conclusiones generales puedes extraer sobre la representatividad de estas medidas?

Comparando ambas variables, en el caso del ingreso la media excede a la mediana en todos los niveles, lo que indica que hay titulados con ingresos muy altos que elevan el promedio. En cambio, para la empleabilidad la mediana supera a la media en la mayor√≠a de los casos, lo que indica que la mayor√≠a de las instituciones alcanza tasas de colocaci√≥n por encima del promedio. Por lo tanto, para describir la empleabilidad es m√°s √∫til usar la mediana, mientras que en el an√°lisis de ingresos conviene considerar la media junto con la mediana para entender la influencia de valores extremos.

5. Teniendo en cuenta tu an√°lisis sobre c√≥mo var√≠an los ingresos y la empleabilidad con los a√±os de acreditaci√≥n, ¬øqu√© consejo le dar√≠as a un estudiante que va a elegir una instituci√≥n bas√°ndose √∫nicamente en el nivel de acreditaci√≥n? Justifica tu recomendaci√≥n.

Es recomendable optar por instituciones con al menos 6 a√±os de acreditaci√≥n, ya que en ese tramo se observan los mejores resultados. El ingreso promedio al 4¬∞ a√±o de egreso supera ampliamente el mill√≥n de pesos y la empleabilidad promedio al 1er a√±o alcanza el 71,3 %.

## Actividad 4

Imagina que trabajas como analista del Ministerio de Educaci√≥n. Te han solicitado caracterizar los resultados laborales de los titulados por √°rea de formaci√≥n utilizando una base de datos con informaci√≥n de carreras t√©cnicas y profesionales de distintas instituciones chilenas de los a√±os 2024 y 2025.

**Utiliza la siguiente base de datos para responder las actividades 2, 3 y 4.**

Descarga la base de datos **<a href="https://docs.google.com/spreadsheets/d/1O7lb2OqNCSnqJaswSNqmD4HuI0BWfcsP/export?format=xlsx
">aqu√≠</a>**.

1. ¬øCu√°l √Årea se observa con mayor frecuencia entre los titulados?

In [21]:
import pandas as pd
df_3 = pd.read_excel('Actividad_2_3_4.xlsx')
df_3.head(2)

,C√≥digo,Tipo de instituci√≥n,Acreditaci√≥n instituci√≥n (a√±os),√Årea,Nombre carrera gen√©rica,Duraci√≥n Real (semestres),Empleabilidad 1er a√±o (%),Ingreso al 4¬∞ a√±o (pesos)
0,456,Centros de Formaci√≥n T√©cnica,5,Tecnolog√≠a,T√©cnico en Electricidad y Electricidad Industrial,6.537975,76.616915,1150000
1,456,Centros de Formaci√≥n T√©cnica,5,Salud,T√©cnico en Enfermer√≠a,6.280899,62.500000,750000

In [22]:
moda_area = df_3['√Årea'].mode()
moda_area[0]

'Tecnolog√≠a'

El √°rea que se observa con mayor frecuencia entre los titulados es Tecnolog√≠a.

2. ¬øEntre qu√© sueldos se encuentran los egresados del 10% m√°s alto al 4to a√±o de titulaci√≥n?

In [23]:
#Valor m√≠nimo del 10% m√°s alto
p_90 = df_3['Ingreso al 4¬∞ a√±o (pesos)'].quantile(0.9)

#Valor m√°ximo del 10% m√°s alto
maximo = df_3['Ingreso al 4¬∞ a√±o (pesos)'].max()

print(f'Percentil 90: {p_90}\nM√°ximo: {maximo}')

Percentil 90: 1950000.0
M√°ximo: 3000000

Los egresados con los sueldos en el 10% m√°s alto, ganan entre \$1.950.000 y \$3.000.000 al 4to a√±o de titulaci√≥n.

3. ¬øEntre qu√© sueldos se encuentran los egresados del 17% m√°s bajo al 4to a√±o de titulaci√≥n?

In [ ]:
#Valor m√°ximo del 17% m√°s bajo
p_17 = df_3['Ingreso al 4¬∞ a√±o (pesos)'].quantile(0.17)

#Valor m√≠nimo del 17% m√°s bajo
minimo = df_3['Ingreso al 4¬∞ a√±o (pesos)'].min()

print(f'Percentil 17: {p_17}\nM√≠nimo: {minimo}')

Percentil 17: 950000.0
M√≠nimo: 550000

Los egresados con los sueldos en el 17% m√°s bajo, ganan entre \$550.000 y \$950.000 al 4to a√±o de titulaci√≥n.

4. Agrupa los datos por √Årea y para cada grupo calcula las siguientes medidas del Ingreso al 4¬∞ a√±o:
* Media
* Mediana
* Percentil 25
* Percentil 75

$\hspace{1cm}$Luego, construye un DataFrame que re√∫na estas cuatro columnas.

In [24]:
#Agruparemos los datos por √Årea
datos_area = df_3.groupby('√Årea')['Ingreso al 4¬∞ a√±o (pesos)']

#Calculamos las medidas solicitadas
media_area = datos_area.mean()
mediana_area = datos_area.median()
p25_area = datos_area.quantile(0.25)
p75_area = datos_area.quantile(0.75)

#Incluimos la informaci√≥n en un nuevo DF
tabla_3 = pd.DataFrame({
    'Media': media_area,
    'Mediana': mediana_area,
    'Percentil 25': p25_area,
    'Percentil 75': p75_area
})

round(tabla_3, 0)

                               Media    Mediana  Percentil 25  Percentil 75
√Årea
Administraci√≥n y Comercio  1221930.0  1150000.0      950000.0     1450000.0
Agropecuaria               1176471.0  1250000.0      975000.0     1325000.0
Arte y Arquitectura        1079825.0  1050000.0      850000.0     1350000.0
Ciencias B√°sicas           1575000.0  1400000.0     1125000.0     2025000.0
Ciencias Sociales          1155042.0  1150000.0     1050000.0     1250000.0
Derecho                    1561111.0  1550000.0     1400000.0     1800000.0
Educaci√≥n                   963990.0   950000.0      950000.0     1050000.0
Humanidades                 870000.0   850000.0      850000.0      850000.0
Salud                      1454510.0  1350000.0      950000.0     1750000.0
Tecnolog√≠a                 1552448.0  1450000.0     1050000.0     1925000.0

5. Interpreta las medidas calculadas en las √°reas de Agropecuaria y Tecnolog√≠a.

Las interpretaciones para el √°rea de Agropecuaria son:
* Media: Los egresados del √°rea Agropecuaria reciben un ingreso promedio de \$1.176.471 al 4to a√±o de titulaci√≥n.
* Mediana: El 50% de los egresados del √°rea Agropecuaria recibe un ingreso de \$1.250.000 o menos, al 4to a√±o de titulaci√≥n.
* Percentil 25: El 25% de los egresados del √°rea de Agropecuaria tienen un ingreso de \$975.000 o menos, al 4to a√±o de titulaci√≥n.
* Percentil 75: El 75% de los egresados del √°rea de Agropecuaria tienen un ingreso de \$1.450.000 o menos, al 4to a√±o de titulaci√≥n.

Las interpretaciones para el √°rea de Tecnolog√≠a son:
* Media: Los egresados del √°rea Tecnolog√≠a reciben un ingreso promedio de \$1.552.448 al 4to a√±o de titulaci√≥n.
* Mediana: El 50% de los egresados del √°rea Tecnolog√≠a recibe un ingreso de \$1.450.000 o menos, al 4to a√±o de titulaci√≥n.
* Percentil 25: El 25% de los egresados del √°rea de Tecnolog√≠a tienen un ingreso de \$1.050.000 o menos, al 4to a√±o de titulaci√≥n.
* Percentil 75: El 75% de los egresados del √°rea de Tecnolog√≠a tienen un ingreso de \$1.925.000 o menos, al 4to a√±o de titulaci√≥n.

6. Al comparar la media con la mediana en el √Årea Salud se observa que la media es mayor. ¬øQu√© caracter√≠stica de los datos podr√≠a explicar esta diferencia?

En el √°rea Salud la media (\$1.454.510) es mayor que la mediana (\$1.350.000) porque existen ingresos altos (por ejemplo, sobre el percentil 75 = \$1.750.000) que elevan el promedio. Estos valores extremos "arrastran" la media hacia arriba, mientras que la mediana no se ve afectada por ellos.

7. Describe lo que ocurre con la media del ingreso al 4to a√±o de titulaci√≥n, seg√∫n √Årea y Tipo de instituci√≥n. ¬øQu√© conclusiones puedes extraer acerca del impacto del tipo de instituci√≥n en el ingreso seg√∫n √°rea?

*Sugerencia: Puedes crear una tabla bivariada utilizando la funci√≥n crosstab() de Pandas*.

In [25]:
tabla_4 = pd.crosstab(df_3['√Årea'], df_3['Tipo de instituci√≥n'],
                      df_3['Ingreso al 4¬∞ a√±o (pesos)'],
                      aggfunc = 'mean', margins = True, margins_name= 'Total')
round(tabla_4,0)

Tipo de instituci√≥n,Centros de Formaci√≥n T√©cnica,Insitutos Profesionales,Universidades,Total
√Årea,,,,
Administraci√≥n y Comercio,895455.0,1038525.0,1430682.0,1221930.0
Agropecuaria,870000.0,907143.0,1331818.0,1176471.0
Arte y Arquitectura,750000.0,854167.0,1259375.0,1079825.0
Ciencias B√°sicas,1050000.0,1150000.0,1795455.0,1575000.0
Ciencias Sociales,683333.0,1035714.0,1185294.0,1155042.0
Derecho,850000.0,850000.0,1618000.0,1561111.0
Educaci√≥n,608333.0,673810.0,1028750.0,963990.0
Humanidades,NaN,900000.0,850000.0,870000.0
Salud,728261.0,780435.0,1608612.0,1454510.0
Tecnolog√≠a,1084375.0,1110241.0,1854678.0,1552448.0
Total,878431.0,982773.0,1454557.0,1307481.0

En todas las √°reas los titulados de universidades tienen un mayor ingreso promedio, mientras que los titulados de CFT registran valores m√°s bajos. Los institutos profesionales se encuentran en un punto medio en casi todas las √°reas. La brecha salarial es especialmente grande en Tecnolog√≠a, Salud, Derecho y Ciencias b√°sicas, donde la diferencia entre universidad y CFT supera con creces a la observada en otras √°reas.